@page "/"
@using Hotel_Frontend.Services
@inject IAuthenticationService AuthenticationService

<div class="body-new">
    <div class="card">
        <div class="card-header"><h1>Hotel Hight</h1></div>
        <div class="card-body">
            <p>Welcome to the magical Hotel Hight! Founded by the asdfteam in 2021...</p>
        </div>
    </div>
    @if (ShowReservationForm)
    {
        <button class="button-index" @onclick="SetVisibility">Click to hide</button>
    }
    else
    {
        <button class="button-index" @onclick="SetVisibility">Make a new reservation!</button>
    }
    <div class="card">
        @if (ShowReservationForm)
        {
            <NewReservation />
        }
    </div>
    <img src="hotel.jpg" alt="Photo of hotel entrance" width="800" height="600" />
</div>

@code
{
    bool ShowReservationForm { get; set; }

    private void SetVisibility()
    {
        ShowReservationForm = !ShowReservationForm;
    }

    protected override async void OnInitialized()
    {
        ShowReservationForm = false;
        await AuthenticationService.Initialize();
    }
}

