@inject IAuthenticationService AuthenticationService
@page "/logout"
@using Hotel_Frontend.Services
@inject AppState AppState

<h3>You have been logged out.</h3>

@code {
    protected override async void OnInitialized()
    {
        await AuthenticationService.Logout();
        AppState.Toggle();
    }

}
