@page "/mysite"
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavManager
@using HotelLibrary
@using Hotel_Frontend.Services
<h2>My page</h2>

<div class="myreservations">
    <ul>
        <li>HEllo</li>
    </ul>
</div>

@code {

    protected override async void OnInitialized()
    {
        if (AuthenticationService.User == null)
        {
            NavManager.NavigateTo("/login");
        }

    }

    private List<Reservation> reservations;

    private async void GetReservations()
    {
        //Hent reservasjoner...
    }

}
