@inject IAuthenticationService AuthenticationService
@using Hotel_Frontend.Services
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (AuthenticationService.User == null)
            {
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-home" aria-hidden="true"></span>Login
                </NavLink>
            }
            else 
            {
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-home" aria-hidden="true"></span>Logout
                </NavLink>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
